<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="menu"> 
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cadastro
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/cadastro/produto">Produto</a>
                <a class="dropdown-item" href="/cadastro/secao">Seção</a>
                <a class="dropdown-item" href="/cadastro/usuario">Usuário</a>
            </div>
    
        </li>
    </ul>
    <div aria-labelledby="navbarDropdown" id="logout">
        <a id="button_logout" href="/logout">
            Logout
            <i class="fa-sharp fa-solid fa-arrow-right-from-bracket" style="color: #ffffff;" id="img_logout"></i>
        </a>
    </div>
</nav>