#mensagem{
    width: 500px;
    position: absolute;
    z-index: 1;
    right: 0px;
}

#menu{
    font-weight: 700;
}

#logout{
    display: flex;
    align-items: center;
    justify-content: center;
}

#button_logout{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    background-color: inherit; 
}

#img_logout{
    margin-left: 5px;
}

#busca_produto{
    height: 35px;
    width: 500px;
    text-align: center;
    border-radius: 10px;

}

#form_busca_produto{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tb_cod_pro{
    width: 100px;
}

.table th{
    font-size: 17px;
    font-weight: 500;
}

.label_block{
    display: block;
}

#logo_mini{
    background-image: url("..\\img\\logos\\logo-mini45.png");
    width: 45px;
    height: 44px; 
}

#opcoes_menu{
    border-left: 1px solid white;
    margin-left: 10px;
    padding-left: 8px;
}

#foto_prod, #foto_prod_updt{
    height: 150px;
    width: 150px;
    max-width: 150px;
    min-width: 150px;
    max-height: 150px;
    min-height: 150px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
    align-items: center;
    position: absolute;
    right: 10px;
    top:40px;
}

.fa-circle-xmark:hover{
    color: rgb(223, 40, 40);
}

.fa-pen-to-square:hover{
    color: rgba(9, 9, 153, 0.555);
}